<app-main>
    <app-header></app-header>
    <div class="food-menu-block style-one ptb-100">
        <div class="container">
            <div class="row">
            </div><!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="tab-content filter-foodmenu-tab-content">
                        <div class="tab-pane fade active show" id="foodmenu2" role="tabpanel"
                            data-animate="hg-fadeInUp">
                            <div class="row">
                                <!-- Item Food Start -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="food-grid-item grid-style-one">
                                        <div class="food-thumb">
                                            <img src="#" alt="Food">
                                        </div>
                                        <div class="food-info">
                                            <h3 class="food-title">Middle Eastern Chicke</h3>
                                            <p>From grilled Tandoori chicken burgers to simple chicken burgers with
                                                garlic rosemary mayonnaise, put a new twist on an old barbecue
                                                favourite with these unique and chicken burger recipes.</p>
                                            <div>
                                                <div class="food-price d-inline">11<sub>.99£</sub></div>
                                                <a href="#" class="food-cart btn btn-default d-inline ml-1 p-3">
                                                    <span class="icon-paper-bag"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--~./ food-grid-item ~-->
                                </div>
                                <!-- Item Food End -->
                            </div>
                            <!--~./ row ~-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-main>