<div class="site-content">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Site Header
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <header class="site-header header-style-five header-absolute intro-element">
        <div class="header-top-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-4">
                        <div class="mobile-shop-cart"></div>
                        <div class="site-navigation">
                            <div class="site-navigation-inner">
                                <nav class="navigation">
                                    <div class="menu-wrapper">
                                        <div class="menu-content">
                                            <ul class="mainmenu">
                                                <li class="megamenu">
                                                    <a class="active" href="#">Acceuil</a>
                                                </li>
                                                <li>
                                                    <a href="#">A propos</a>
                                                </li>
                                            </ul> <!-- /.menu-list -->
                                        </div> <!-- /.hours-content-->
                                    </div><!-- /.menu-wrapper -->
                                </nav>
                            </div>
                        </div><!-- /.site-navigation -->
                    </div>
                    <div class="col-lg-2 col-4">
                        <div class="site-branding text-center">
                            <a href="index02.html">
                                <img src="assets/images/logo/logo7.png" alt="Site Logo" />
                            </a>
                        </div><!-- /.site-branding -->
                    </div>
                    <div class="col-lg-5 col-4">
                        <div class="header-right-area">
                            <div class="contact-page">
                                <a href="contact.html">Contactez</a>
                            </div>
                            <div class="header-card-area header-card-small">
                                <a href="#">
                                    Panier
                                    <sup>2</sup>
                                </a>
                                <div class="cart-list">
                                    <div class="cart-item">
                                        <div class="product-thumb">
                                            <img alt="Single product" src="assets/images/foodmenu/small/1.png">
                                        </div>
                                        <!--~./ product-thumb ~-->
                                        <div class="product-info">
                                            <h4 class="title">Junior Chicken Burger</h4>
                                            <div class="price">12.<sub>00</sub>€</div>
                                            <div class="icon-closed">
                                                <a href="#"><i class="fas fa-times"></i></a>
                                            </div>
                                        </div>
                                        <!--~./ product-info ~-->
                                    </div>
                                    <!--~./ cart-item ~-->
                                    <div class="cart-item">
                                        <div class="product-thumb">
                                            <img alt="Single product" src="assets/images/foodmenu/small/2.png">
                                        </div>
                                        <!--~./ product-thumb ~-->
                                        <div class="product-info">
                                            <h4 class="title">Chicken Happy Meal</h4>
                                            <div class="price">15.<sub>00</sub>€</div>
                                            <div class="icon-closed">
                                                <a href="#"><i class="fas fa-times"></i></a>
                                            </div>
                                        </div>
                                        <!--~./ product-info ~-->
                                    </div>
                                    <!--~./ cart-item ~-->
                                    <div class="cart-item">
                                        <div class="product-thumb">
                                            <img alt="Single product" src="assets/images/foodmenu/small/3.png">
                                        </div>
                                        <!--~./ product-thumb ~-->
                                        <div class="product-info">
                                            <h4 class="title">Beef Philly Burger</h4>
                                            <div class="price">10.<sub>00</sub>€ <span>X2</span></div>
                                            <div class="icon-closed">
                                                <a href="#"><i class="fas fa-times"></i></a>
                                            </div>
                                        </div>
                                        <!--~./ product-info ~-->
                                    </div>
                                    <!--~./ cart-item ~-->

                                    <div class="order-total">
                                        <h4 class="order">Sub Total<span class="amount">14.<sup>00€</sup></span>
                                        </h4>
                                    </div>

                                    <div class="cart-btn-group">
                                        <a href="cart.html" class="btn btn-default btn-primary">view cart</a>
                                        <a href="checkout.html" class="btn btn-default">Checkout</a>
                                    </div>
                                </div>
                            </div>
                            <!--~./ header card area ~-->
                            <div class="contact-page">
                                <a class="btn btn-default btn-primary btn-white"
                                    href="reservation-v1.html">Reservations</a>
                            </div>
                            <div class="hamburger-menus">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.header-top-area -->

        <div class="mobile-sidebar-menu sidebar-menu">
            <div class="overlaybg"></div>
        </div>
    </header>
    <!--~~./ end site header ~~-->
    <!--~~~ Sticky Header ~~~-->
    <div id="sticky-header"></div>
    <!--~./ end sticky header ~-->

    <ng-content>
        
    </ng-content>
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start SITE FOOTER
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <footer class="site-footer footer-style-one">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Footer Widget Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="footer-widget-area ptb-100 bg-image bg-overlay bg-parallax1"
            style="background-image:url('assets/images/bg/footer-bg1.jpg')">
            <div class="container ml-b-60 ml-t-5">
                <div class="row mx-md-n5">
                    <!--~~~~~ Start Widget Location Footer ~~~~~-->
                    <div class="col-lg-4 px-md-5">
                        <aside class="widget bt-location-widget">
                            <h2 class="widget-title"><span>OUR</span> LOCATION</h2>
                            <div class="widget-content">
                                <ul class="list">
                                    <li><span>Head Office:</span> 1422 Makram St. Santa Rosa,t CA 94559. Texas, USA
                                    </li>
                                    <li><span>Call for Reservations: </span> +1 - 123456789 - 245789789</li>
                                    <li><span>E-mail: </span> <a
                                            href="mailto:information@deliciousa.com">information@deliciousa.com</a>
                                    </li>
                                </ul>
                                <div class="social-status">
                                    <a href="#0"><span class="fab fa-facebook-f"></span></a>
                                    <a href="#0"><span class="fab fa-twitter"></span></a>
                                    <a href="#0"><span class="fab fa-google-plus-g"></span></a>
                                    <a href="#0"><span class="fab fa-behance"></span></a>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <!--~./ end location widget ~-->

                    <!--~~~~~ Start Widget Business Hours Footer ~~~~~-->
                    <div class="col-lg-4 px-md-5">
                        <aside class="widget widget-business-hours">
                            <h2 class="widget-title"><span>OPENING </span> TIMES</h2>
                            <div class="widget-content">
                                <ul class="list">
                                    <li>Monday <span> 1 pm - 10 pm</span></li>
                                    <li>Tuesday <span> 1 pm - 10 pm</span></li>
                                    <li>Wednesday <span> 1 pm - Midnight</span></li>
                                    <li>Thursday <span> 1 pm - 10 pm</span></li>
                                    <li>Friday <span> 1 pm - Midnight</span></li>
                                    <li class="closed">Saturday <span> Closed</span></li>
                                    <li>Sunday <span> 1 pm - 10 pm</span></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <!--~./ end business hours widget ~-->

                    <!--~~~~~ Start Widget Instafeed ~~~~~-->
                    <div class="col-lg-4 px-md-5">
                        <aside class="widget bt-instafeed-widget">
                            <h2 class="widget-title"><span>INSTAGRAM </span> GALLERY</h2>
                            <div class="widget-content">
                                <ul id="instafeed">
                                    <li class="feed-item">
                                        <a href="#0">
                                            <img src="assets/images/widget/instagram/3/1.jpg" alt="#">
                                        </a>
                                    </li>
                                    <li class="feed-item">
                                        <a href="#0">
                                            <img src="assets/images/widget/instagram/3/2.jpg" alt="#">
                                        </a>
                                    </li>
                                    <li class="feed-item">
                                        <a href="#0">
                                            <img src="assets/images/widget/instagram/3/3.jpg" alt="#">
                                        </a>
                                    </li>
                                    <li class="feed-item">
                                        <a href="#0">
                                            <img src="assets/images/widget/instagram/3/4.jpg" alt="#">
                                        </a>
                                    </li>
                                    <li class="feed-item">
                                        <a href="#0">
                                            <img src="assets/images/widget/instagram/3/5.jpg" alt="#">
                                        </a>
                                    </li>
                                    <li class="feed-item">
                                        <a href="#0">
                                            <img src="assets/images/widget/instagram/3/6.jpg" alt="#">
                                        </a>
                                    </li>
                                    <li class="feed-item">
                                        <a href="#0">
                                            <img src="assets/images/widget/instagram/3/7.jpg" alt="#">
                                        </a>
                                    </li>
                                    <li class="feed-item">
                                        <a href="#0">
                                            <img src="assets/images/widget/instagram/3/8.jpg" alt="#">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <!--~./ end instafeed widget ~-->
                </div>
            </div>
        </div>
        <!--~./ end footer widgets area ~-->

        <div class="footer-bottom-area ptb-100 bg-image"
            style="background-image:url('assets/images/bg/bg-pattent1.jpg')">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="footer-bottom-text">
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/images/logo/footer-logo3.png" alt="Logoo"></a>
                            </div>
                            <p>A barbecue grill is a device that cooks food by applying heat from below. There are
                                several varieties of grills, with most falling into one of two categories gas-fueled
                                or charcoal. </p>
                            <div class="copyright-text">
                                <p>© 2023 - Estrella Restaurants. Powered By <a href="https://gyges.ma">GYGES</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--~./ end site footer ~-->

</div>
<!--~~./ end site content ~~-->