<app-main>

    <app-header></app-header>
           <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Food Menu Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="food-menu-block ptb-100 bg-image" style="background-image:url('assets/images/bg/bg-pattent3.jpg')">
            <div class="container">
                <div class="row">
                    
                    <!-- Cat Item -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <a href="single-food.html">
                            <div class="food-grid-item grid-style-two">
                                <div class="food-thumb">
                                    <img src="assets/images/foodmenu/menu6/food1.jpg" alt="Food">
                                </div>
                                <div class="food-info">
                                    <h3 class="food-title">Chicken</h3>
                                    
                                </div>
                            </div>
                        </a>
                        <!--~./ food-menu-item ~-->
                    </div>
                    <!-- end cat item -->

                </div><!-- /.row -->

            </div><!-- /.container -->
        </div>
        <!--~~./ end pricing block ~~-->


</app-main>